{% extends "layout.html" %}

{% block content %}
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand">Timeline</h3>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link active" href="#">Current</a>
                <a class="nav-link" href="#">Backlog</a>
                <a class="nav-link" href="#">Icebox</a>
            </nav>
        </div>
    </header>
</div>
{% endblock %}