{% extends "layout.html" %}

{% block content %}
<div class="cover-container d-flex w-100 h-100 p-2 mx-auto flex-column">
    {% include 'navigation.html' %}

    {% if posts %}
    <table id="tils-table" class="table table-striped table-dark table-sm mt-2">
    <tbody>
        {% for post in posts %}
        <tr id="{{ post.code }}" class="til-post">
            <td class="d-none d-sm-block">
                <a href="{{ post.url }}" target="_blank">{{ post.source }}<br>{{ post.author }}</a>
            </td>
            <td>
                {% if post.extended %}
                    <a data-toggle="collapse" href="#collapse-{{ post.code }}" aria-expanded="false" aria-controls="collapse-{{ post.code }}" class="internal-link">{{ post.content }}</a>
                    <div class="collapse" id="collapse-{{ post.code }}">
                        <div class="card card-body text-white bg-dark">
                            {{ post.extended|markdown }}
                        </div>
                    </div>
                {% else %}
                    {{ post.content }}
                {% endif %}
            </td>
            <td class="d-none d-sm-block">
                {{ post.created.strftime('%Y.%m.%d') }}<br>
                {{ post.created.strftime('%H:%M:%S') }}
            </td>
            <td class="action-buttons-2">
                <button type="button" data-row="{{ post.code }}" class="btn-sm btn-secondary btn-edit">edit</button>
                {% if post.visible %}
                <button type="button" data-row="{{ post.code }}" class="btn-sm btn-success btn-hide">hide</button>
                {% else %}
                <button type="button" data-row="{{ post.code }}" class="btn-sm btn-warning btn-show">show</button>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    {% endif %}

</div>
{% endblock %}