<header class="masthead">
    <div class="inner">
        <h3 class="masthead-brand">Today I Learned</h3>
        <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link{% if request.endpoint == 'current' %} active{% endif%}" href="{{ url_for('current') }}">Current</a>
            <a class="nav-link{% if request.endpoint == 'backlog' %} active{% endif%}" href="{{ url_for('backlog') }}">Backlog</a>
            <a class="nav-link{% if request.endpoint == 'icebox' %} active{% endif%}" href="{{ url_for('icebox') }}">Icebox</a>
        </nav>
    </div>
</header>